body {
  margin: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* ----Модификаторы---- */

.button {
  font: inherit;
  
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  border: none;
}
 
.button-red {
  background-color: #fb565a;
}

.button-red:hover,
.button-red:focus {
  background-color: #e74246;
}

.button-red:active {
  background-color: #d7373b;
}

.input-field {
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;

  border: 2px solid #d7dcde;
}

/* -------------- */

.main-header {
  padding-top: 49px;

  background-color: #eeeeee;
}

.main-header-logo {
  margin-right: 200px;
}

.main-header-logo[href]:hover img {
  opacity: 0.8;
}

.main-header-logo[href]:active img {
  opacity: 0.3;
}

.main-navigation {
  display: flex;
  align-items: center;
  width: 1160px;
  margin: 0 auto;

  line-height: 30px;
  font-weight: 500;
  color: #000000;  
}

.site-navigation {
  display: flex;
  width: 540px;

  list-style: none;
}

.site-navigation li:not(:last-child) {
  margin-right: 48px;
}

.main-header-basket {
  margin-left: auto;
}

.main-navigation a,
.site-navigation a {
  text-transform: uppercase;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active,
.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation a:not([href]),
.site-navigation a:not([href]) {
  text-decoration: underline;
  text-decoration-color: #fb565a;
}

.main-footer {
  display: flex;
  width: 1160px;
  margin: 70px auto;  
}

.footer-social {
  margin-right: 140px;

  list-style: none;
}

.footer-discount {
  color: #444444;
  line-height: 22px;
}

.footer-discount b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.services {
  width: 1160px;
  margin: 0 auto;
}

.services-list {
  display: flex;

  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 100px;
  padding-top: 146px;
}

.services-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.services-item .button:active {
  color: rgba(255, 255, 255, 0.3);
}

.services-web {
  background: url("../img/features-web.jpg") no-repeat 0 0;
}

.services-apps {
  background: url("../img/features-apps.jpg") no-repeat 0 0;
}

.services-apps .button {
  background-color: #00ca74;
}

.services-apps .button:hover {
  background-color: #00bc6c;
}

.services-apps .button:active {
  background-color: #00aa62;
}

.services-presentations {
  background: url("../img/features-presentation.jpg") no-repeat 0 0;
}

.services-presentations .button {
  background-color: #efc84a;
}

.services-presentations .button:hover {
  background-color: #eab534;
}

.services-presentations .button:active {
  background-color: #e5a722;
}

.page-name-wrapper {
  padding-top: 83px;
  padding-bottom: 117px;

  background-color: #eeeeee;
}

.page-name {
  margin: 0;

  font-size: 55px;
  line-height: 55px;
  color: #000000;
  text-align: center;
}

.filter-list-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.templates-filter {
  line-height: 20px;
}

.templates-filter fieldset {
  border: none;
}

.templates-filter legend{
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.templates-filter .button {
  color: #000000;

  background-color: #eeeeee;
}

.templates-filter .button:hover {
  background-color: #dfdfdf;
}

.templates-filter .button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.templates-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  padding: 0;

  list-style: none;
}

.templates-item {
  position: relative;

  margin-bottom: 33px;
}

.templates-item-popup {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: none;
  box-sizing: border-box;
  width: 360px;
  padding-top: 30px;
  
  background-color: #eeeeee;
}

.templates-item:hover .templates-item-popup {
  display: block;
}

.templates-item-popup h3 {
  margin-bottom: 15px;
  
  text-align: center;
  color: #000000;
  font-weight: 700;
}

.templates-item-popup p {
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;

  text-align: center;
  color: #666666;
  line-height: 18px;
}

.write-us-wrapper {  
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 80px 100px;

  box-shadow: 0 0 30px -10px #000101;
}

.write-us-form h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.write-us-form label {
  font-size: 16px;
  font-weight: 700;
  color: #000000;
}

.write-us-field-container {
  display: flex;
}

.write-us-field {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 15px;
  margin-top: 10px;
  margin-right: 40px;
}

.write-us-text textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 15px;  
  margin-top: 10px;
}